
<div class="jumbotron row">
  <div class="col-sm-4">
     
    <div class="fblr text-center">
    <img src="/soccer.png" class="img-responsive"></img>
  </div>
  </div>
  <div class="col-sm-6 foot" >
    <h3><strong>Welcome to football.hub!</strong></h3>
    <p>Here at football.hub you can display your views about the recent games in various leagues <br> just sign-in and post your views and start a discussion. <br> HAPPY FOOTCUSSION!!</p>
    <%= link_to "START FOOTCUSSION?!", new_message_path, class: "btn-custom" %>
  </div>
</div>


<% @messages.each do |message| %>
  <div class="col-md-10 col-md-offset-1 msg">
    <div class="message">
      <h2 class="message-title"><%= message.title %></h2>
      <% if user_signed_in? %>
        <%= link_to "Answer IT?", message, class: "btn-custom" %>
      <% else %>
        <p>Sign In to post your Opinion <%= link_to "Sign In", new_user_session_path %></p>
      <% end %>
    </div>
  </div>

<% end %>
