<div class="panel panel-default post-form-panel">
  <div class="panel-body row">

    <div class="col-sm-1">
      <%= image_tag(current_user.avatar.url, height: "35", width: "35", crop: "fill", class: "rounded-img" ) %>
    </div>
    <div class="col-sm-11">
      <%= form_for(@newPost) do |f| %>

          <div class="field" style="margin-left: 10px">
            <%= f.text_field :content, autofocus: true, class: "form-control" %>
            <%= f.submit "Add Post", class: "btn btn-info", style: "float:right; margin-top:7px" %>
          </div>

      <% end %>
    </div>
  </div>
</div>
