<% if user_signed_in? %>

  <script>
    document.location = "pages/home"
  </script>

<% else %>
<style>
  body{
    background:
    linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
      ),url("/pexel.jpeg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }
  h1{
    color: white;
    font-weight: bold;
  }
  .container-index{
    margin-left: 15%;
    margin-right: 15%;

  }
  p{
    color: white;
    font-weight: 300;
    font-size: 150%;
  }

  .log-in{
    float: right;
    width: 300px;
    height: 150px
  }

  .sign-up{
    float: right;
    width: 300px;
    height: 200px;
  }



</style>



<div class="container-index row">
  <div class="col-sm-6">
  <h1>Welcome to Connection</h1>
  <p class="text">
    Connect with your friends, buddies and family. <br> Make new friends and chat with them. <br>
    Share your thoughts and adventures. Finally SOCIALIZE!!
  </p>
</div>
<div class="col-sm-6">

  <div class="log-in panel" style="background:#736b6b; opacity: 0.7">
    <div class="panel-body">
    <center class="row">
      <div class="col-sm-6">
      <img src="/internet.png" style= "opacity:0.6; height:120px" >
    </div>
    <div class="col-sm-6">
    <p><%= button_to "Sign-In", new_user_session_path, class: "btn btn-info", style: "border:5px solid white" %></p>
  </div>
  </center>
    </div>
  </div>

  <div class="sign-up panel" style=" background:#736b6b; opacity: 0.7">

    <div class="panel-body">
      <center class="row">
        <div class="col-sm-6">
         <img src="/sign.png" style="opacity:0.7">
       </div>
       <div class="col-sm-6">
    <p><%= link_to "Sign-Up", new_user_registration_path, class: "btn btn-success", style: "border:5px solid white" %><p>
    </div>
    </center>
  </div>

  </div>

</div>

</div>

<% end %>
